# GF180 stuff
runs/
__pycache__/
gf180mcu/
gf180_drc.lyrdb
sim_build/
final/
img/
*.lyrdb
generated_defines.svh

# Added GF180 stuff
sim_build_*/
results.xml
macro_instances.txt

# Generated Verilog/SystemVerilog
*.sv2v.v

# OS-specific files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.swp
*.swo
*~

# Temporary files
*.tmp
*.bak

# cocotb
cocotb/*.sdf
cocotb/sdf/
cocotb/*.txt

# Parallel GLS run artifacts (one set per gesture)
logs/
