# Build artifacts
synth/build/
synth/icestorm_icebreaker/build/
*.json
*.asc
*.bit
*.log

# Generated Verilog/SystemVerilog
*.sv2v.v

# OS-specific files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.swp
*.swo
*~

# Temporary files
*.tmp
*.bak

# synth_sv
synth/*.log
synth/*.asc
synth/*.bit
synth/*.json

# GF180 stuff
__pycache__/
gf180mcu/
gf180_drc.lyrdb
sim_build/
final/
img/
*.lyrdb
results.xml

.sbt-global/
build/
project/
src/rtl/
target/
